// Variables


$primary: #6a84b7;
$yellow: #ffc107;
$warning: $yellow;

$theme-colors: (
  "primary": #6a84b7,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


$body-bg: $primary;
$body-color: $white;

$font-family-base: 'PT Serif', serif;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);
